@use "variables" as *;


// BUTTONS
.button {
    border: none;
    border-radius: $radius-sm;
    padding: 12px 40px;
    color: $text-dark;
    background: $orange;
    transition:
        background $transition-normal,
        transform $transition-fast;
    font-size: 18px;
    font-weight: 700;
}

.button:hover {
    background: $orange-hover;
}

.button:active {
    transform: scale(0.98);
}

.button-level {
    width: 300px;
}

.button-category {
    height: 100%;
    width: 100%;
}


// ============================================
// STATS CARD
// ============================================

.stats-card {
    margin-top: auto;
    padding: 10px;
    border: 2px solid $orange-dark;
    border-radius: $radius-lg;
    background: $background-panel-light;
}

.stats-card__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: $radius-md;
    background: $orange-dark;
    font-weight: 700;
    span {
        color:$text-dark;
    }
}


// ============================================
// PROGRESS
// ============================================
.progress {
    width: 100%;
    height: 8px;

    margin: 10px 0 5px;

    overflow: hidden;

    border-radius: 999px;

    background: #343638;
}

.progress__bar {
    width: 0%;
    height: 100%;

    border-radius: inherit;

    background: $orange;
    
    transition: width 300ms ease;
}

.stats-card__progress {
    margin-bottom: 10px;

    text-align: center;

    font-size: 0.85rem;
}

.stats-card__data {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 0 5px 5px;
}

.stats-card__correct {
    color: $green;
    font-weight: 700;
}

.stats-card__incorrect {
    color: $red;
    font-weight: 700;
}

// PRACTICE OPTIONS
.level-options,
.category-options,
.language-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.level-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.category-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    gap: 15px;
    width: 85%;
}

.irregular-verbs-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


// ==========================================================
// IRREGULAR VERBS BY TENSES
// ==========================================================
.irregular-tenses-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px 24px;
    width: 100%;
    max-width: 700px;
    margin: 30px auto;
}

.irregular-tense-word {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: 600;
}

.irregular-tense-input {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.05);
    font-size: 16px;
    color: $text-primary;
    text-align: center;
    outline: none;
}

.irregular-tense-input--correct {
    border-color: #22c55e;
    background-color: #8cfeb4;
    color: rgb(13, 82, 39);
    font-weight: 700;
}

.irregular-tense-input--incorrect {
    border-color: #ef4444;
    background-color: #ff8b8b;
    color: #4a0909;
    font-weight: 700;
}


// ==========================================================
// CUSTOM AMOUNT
// ==========================================================
.custom-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;

    &__label {
        font-size: 1rem;
        text-align: center;
    }

    &__input {
        width: min(300px, 80%);
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(255,255,255,0.2);
        background: rgba(255,255,255,0.05);
        font-size: 16px;
        color: $text-primary;
        text-align: center;
        outline: none;
    }
}


.translation-instructions {
    width: 100%;
    max-width: 700px;
    margin: 0.75rem auto 1.5rem;
    padding: 0.75rem 1rem;

    text-align: center;
    font-size: 1rem;
    line-height: 1.5;

    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.05);

    opacity: 0.9;
}


// ==========================================================
// PRACTICE RESULT
// ==========================================================
.practice-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    text-align: center;
    padding: 32px 16px;
}

.practice-result h2 {
    margin: 0;
    font-size: 30px;
}

#practice-result-score {
    margin: 0;
    font-size: 35px;
    font-weight: 700;
}

#practice-result-stats {
    margin: 0 0 16px;
    font-size: 18px;
}

.question {
    width: 100%;
}

.question__progress {
    text-align: center;
}

.question__body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding: 20px;
    border-radius: 1rem;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
}

.question__word {
    margin: 0;
    font-size: 35px;
}


.answer {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    input {
        width: 300px;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(255,255,255,0.2);
        background: rgba(255,255,255,0.05);
        font-size: 18px;
        color: $text-primary;
        text-align: center;
        outline: none;
    }
    .button-ans {
        height: 35px;
        padding: 5px 40px;
    }
}

.question__body--correct {
    background-color: rgba(45, 227, 112, 0.389);
}

.question__body--incorrect {
    background-color: rgba(239, 68, 68, 0.325);
}

.answer-feedback {
    color: green;
    font-size: 25px;
    font-weight: 600;
}



@media (max-width: 768px) {
    .category-options {
        width: 95%;
        row-gap: 15px;      
        column-gap: 10px;
    }

    .button-category {
        padding: 12px 5px;
        font-size: 12px;
    }

    .question__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .question__word {
        font-size: 20px;
    }

    .button {
        font-size: 12px;
    }

    .answer {
        display: flex;
        flex-direction: column;

        input {
            width: 250px;
            padding: 10px;
            font-size: 15px;
        }
        .button-ans {
            height: 2px 30px;
            padding: 0px 30px;
        }
    }

    .language-options {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .button--primary {
        width: 150px;
    }

    .practice-result {
        gap: 10px;
        h2 {
            font-size: 20px;
        }
    }

    #practice-result-score {
        font-size: 25px;
    }

    #practice-result-stats {
        font-size: 15px;
    }
}


@media (max-width: 576px) {
    .category-options {
        grid-template-columns: 1fr 1fr;
    }
}