@use "variables" as *;


.sidebar__header {
    text-align: center;
    margin-bottom: 25px;
}

.sidebar__title {
    font-size: 20px;
    font-weight: 700;
}


// OPTIONS
.option {
    margin-bottom: 22px;
}

.option__status {
    margin-bottom: 4px;
    font-size: 16px;
    color: $text-secondary;
    text-align: left;
    overflow-wrap: break-word;
}

.option__selected {
    color: $orange;
    font-weight: 600;
}

.option__button {
    width: 100%;
    padding: 10px 14px;
    border: none;
    border-radius: $radius-sm;
    background: $orange;
    color: $text-dark;
    font-weight: 700;
    transition:
        background $transition-normal,
        transform $transition-fast;
}

.option__button:hover {
    background: $orange-hover;
}

.option__button:active {
    transform: scale(0.98);
}




@media (max-width: 768px) {
    .sidebar__header {
        margin-bottom: 15px;
    }

    .option {
        display: grid;
        grid-template-columns: 5fr 3fr;
        margin-bottom: 10px;
    }
    
    .option__button {
        height: 40px;
    }
}